@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <div class="container-sm">
        <div class="row">
            <
            <div class="col">7</div>
            <div class="col">8</div>
            <div class="col">9</div>
            <div class="col">*</div>
        </div>
    </div>
</div>
